* { /* TEMPORARY; DELETE LATER */
    outline: 0px solid #736B5E;
}

body, body *, .form-control-plaintext {
    color : #E8E6E3;
    background-color: #202324;
}

#navbar {
    background-color: black;
    height : 120px;
}
#navbar * {
    color : white;
    background-color: black;
}
#logo {
    padding-right: 16px;
}

.navigation {
    padding-top : 120px; /* Matches navbar height */
}

.section-symbol {
    outline: 1px solid #736B5E;
    height : 120px;
    width : 120px;
}

.card-title {
    margin-bottom: 1.25rem;
}
.form-group {
    margin-bottom: 0;
}

#damageCalculatorBody, #musicPlayerBody { /* TEMPORARY; DELETE LATER */
    height : 1000px;
}

.bs-canvas-overlay {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
    width: 330px;
    transition: margin .4s ease-out;
    -webkit-transition: margin .4s ease-out;
    -moz-transition: margin .4s ease-out;
    -ms-transition: margin .4s ease-out;
}

.bs-canvas-header, .bs-canvas-header * {
    background-color: black;
}

.bs-canvas-content {
    background-color : #343A40;
}

.bs-canvas-left {
    left: 0;
    margin-left: -330px;
}

.bs-canvas-right {
    right: 0;
    margin-right: -330px;
}